@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
}
body {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    margin: 0;
}
body.blue {
    background: #039be5;
}
body.black {
    background: #111;
}
input:active, input:focus,
select:active, select:focus,
textarea:active, textarea:focus,
button:active, button:focus,
a:active, a:focus {
    outline: 0;
}
.hidden {
    display: none !important;
}
.form-room {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    font-size: 24px;
}
.form-room input {
    display: block;
    width: 100%;
    color: #fff;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 6px 0;
    font: inherit;
    margin-bottom: 15px;
}
.form-room button {
    display: inline-block;
    background: #fff;
    border: none;
    color: #039be5;
    font: inherit;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 3px;
}
video#local {
    display: block;
    position: fixed;
    z-index: 2;
    right: 10px;
    bottom: 10px;
    max-height: 100px;
}
.actions {
    display: block;
    position: fixed;
    z-index: 3;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 0;
}
.actions button {
    display: inline-block;
    font-size: 20px;
    color: #039be5;
    background: #fff;
    border: 0;
    width: 48px;
    line-height: 48px;
    padding: 0;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    cursor: pointer;
}
.actions button.success,
.actions button.danger {
    color: #fff;
}
.actions button.success {
    background: #32cb00;
}
.actions button.danger {
    background: #d50000;
}
.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
}
.overlay .popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 30px;
    width: 80%;
    max-width: 480px;
    font-size: 20px;
}
.overlay .popup p {
    margin: 0 0 20px 0;
}
.overlay .popup input {
    display: block;
    width: 100%;
    border: 0;
    background: none;
    border-bottom: 2px solid #ccc;
    padding: 6px 0;
    margin-bottom: 15px;
    font-size: inherit;
}
.overlay .popup input:focus,
.overlay .popup input:active {
    border-color: #039be5;
}
.overlay .popup input.error {
    border-color: #d50000;
}
.overlay .popup button {
    display: inline-block;
    border: 0;
    background: #039be5;
    padding: 6px 12px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: inherit;
}
@media screen and (max-width: 800px) {
    .overlay .popup {
        font-size: 16px;
    }
}
.notifications {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    width: 80%;
    max-width: 320px;
}
.notifications .notification {
    background: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    margin: 5px 0;
}
video.remote {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 160px;
}